.about {
    background: var(--about-bg-color);
  }

  .about-working-hours {
    border-left: 2px solid;
    padding-left: 3.5rem;
  }

  .about-working-hours strong {
    color: var(--white-color);
    opacity: 0.85;
  }

  .team-thumb {
    position: relative;
  }

  .team-info {
    background: var(--white-color);
    border-radius: 0 0 2px 2px;
    box-shadow: 6px 0 38px rgba(20,20,20,0.10);
    padding: 20px;
    position: relative;
  }

  .team-info span {
    font-weight: var(--font-weight-light);
    opacity: 0.85;
  }

  .team-info .social-icon {
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .team-info .social-icon li {
    display: block;
  }